{% extends "base.html" %} {{ title }} {% block content %}
{% if ninjas %}
<h1>{{ dojo.name }} Ninjas</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    {% for ninja in ninjas %}
        <tr>
            <td scope="row">{{ ninja.id }}</td>
            <td>{{ ninja.first_name }}</td>
            <td>{{ ninja.last_name }}</td>
            <td>{{ ninja.age }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1>No hay alumnos en {{ dojo.name }}</h1>
{% endif %}

<a href="/" class="btn btn-primary">Ir al Inicio</a>
{% endblock %}
