{% extends "base.html" %}
{% block content %}
   
{% if users %}
    
        <table class="table mt-3">
            <thead>
                <tr class="table-dark">
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <th>{{ user.first_name }}</th>
                        <th>{{ user.last_name }}</th>
                        <th>{{ user.email }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="/new_user" class="btn btn-primary">Nuevo Usuario</a>

    
{% else %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">ALERTA</h4>
      <hr>
      <p>No hay usuarios para mostrar</p>
      <a href="/new_user" class="btn btn-light">Nuevo Usuario</a>
    </div>
    
    
{% endif %}
   
{% endblock %}