{% extends "base.html" %}
{% block content %}
     {% if user %}
     <div class="card mt-4">
        
        <div class="card-body">
            <h4 class="card-title">Usuario</h4>
            <p class="card-text">Id: {{ user.id }}</p>
            <p class="card-text">Nombre: {{ user.first_name }}</p>
            <p class="card-text">Apellido: {{ user.last_name }}</p>
            <p class="card-text">Correo: {{ user.email }}</p>
            <p class="card-text">Creado: {{ user.created_at }}</p>
            <p class="card-text">Actualizado: {{ user.updated_at }}</p>
            <div class="d-grid gap-2 d-md-block">
               <a href="/" class="btn btn-success">Volver</a>
            </div>
        </div>
     </div>
     {% else %}
     <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">ALERTA</h4>
        <hr>
        <p>No hay usuarios para mostrar</p>
        <div class="d-grid gap-2 d-md-block">
         <a href="/new_user" class="btn btn-success">Nuevo Usuario</a>
       </div>
      </div>
     {% endif %}
{% endblock %}