{% extends 'base.html' %}

{% block title %}Dojo Survey{% endblock %}

{% block content %}
<form action="/process" method="post" class="row g-3">
    <label for="name">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Escribe tu Nombre">
    <label for="location">Dojo location</label>
    <select name="location" id="location">
        <option value="trinidad">Trinidad</option>
        <option value="encarnacion">Encarnacion</option>
        <option value="asuncion">Asuncion</option>
    </select>
    <label for="lenguaje">Lenguaje favorito</label>
    <select name="lenguaje" id="lenguaje">
        <option value="python">Python</option>
        <option value="js">Js</option>
        <option value="java">Java</option>
    </select>
    <label for="texto">Commentario (Opcional)</label>
    <input type="text" name="texto" id="texto">
    <button class="btn btn-outline-success" type="submit">submit</button>
</form>
{% endblock %}