{% extends "base.html" %}
{% block content %}
<p class="fs-1 text-center mt-3">These are my Friends</p>

<table class="table">
		<thead>
			<tr>
				<th class="table-dark" scope="col">First Name</th>
				<th class="table-dark" scope="col">Last Name</th>
				<th class="table-dark" scope="col">Occupation</th>
			</tr>
		</thead>
		<tbody>
			{% for one_friend in friends %}
				<tr>
					<td class="table-dark">{{ one_friend.first_name }}</td>
					<td>{{ one_friend.last_name }}</td>
					<td>{{ one_friend.occupation }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
